Repository DistroAV/DistroAV, pull requests merged in 2025-05, with the labels that each got.

#1256 Enhance Log Entry and add unique code for ERROR & WARNING level
  src/forms/update.cpp
  src/main-output.cpp
  src/ndi-output.cpp
  src/ndi-source.cpp
  src/obs-support/remote-text.cpp
  src/obs-support/shared-update.cpp
  src/preview-output.cpp
Labels: enhancement

#1186 Wait for all NDI sources before filling out source list
  CMakeLists.txt
  src/ndi-finder.cpp
  src/ndi-finder.h
  src/ndi-source.cpp
  src/plugin-main.cpp
Labels: enhancement, source-discovery, Seeking Testers, Interface (UI/UX)

#1148 Show user why NDI output failed
  data/locale/ca-ES.ini
  data/locale/de-DE.ini
  data/locale/en-US.ini
  data/locale/es-ES.ini
  data/locale/fr-FR.ini
  data/locale/hu-HU.ini
  data/locale/ko-KR.ini
  data/locale/ro-RO.ini
  data/locale/ru-RU.ini
  data/locale/sv-SE.ini
  data/locale/uk-UA.ini
  data/locale/zh-CN.ini
  src/forms/output-settings.cpp
  src/forms/output-settings.ui
  src/main-output.cpp
  src/main-output.h
  src/ndi-output.cpp
  src/preview-output.cpp
Labels: Seeking Testers, Output (Program/Preview), HDR & Pixel Format

#1263 Add check for minimum NDI & OBS version requirement - 6.1 release
  README.md
  buildspec.json
  src/plugin-main.cpp
  src/plugin-main.h
Labels: enhancement, old-plugin, old-obs, old-ndi, Installation, Dependencies, old-hardware

#1268 Split configuration files between User & Global Store - OBS 31 requirement
  .gitignore
  src/config.cpp
  src/config.h
  src/obs-support/obs-app.hpp
  src/obs-support/shared-update.cpp
Labels: enhancement, critical, Seeking Testers, obs, Dependencies
